* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background-image: url("back.jpg");
  background-repeat: unset;
  background-size: auto;
  background-position: center;
}

header {
  background-color: rgb(148, 3, 3);
  color: black;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  border: .5em;
  border-radius: 5em;
}



.outlined-text {
  color: rgb(0, 0, 0);
  -webkit-text-stroke: 1px rgb(0, 0, 0);
  text-shadow: 1px rgb(0, 0, 0);
}

.image-container {
    margin-top: 80px;
    display: flex; /* Display images in a row */
    justify-content: center; /* Distribute images evenly */
    align-items: center; /* Center images vertically */
  }

  .image-container img {
    border: 5px solid rgb(139, 0, 0);
    width: 300px; /* Adjust the width as needed */
    height: 300px; /* Maintain aspect ratio */
    margin: 3px; /* Add some spacing between images */
    border-radius: 5em;
  }

  .zoomable-image {
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .zoomed-image {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2);
    z-index: 9999;
  }
  
  .shoe {
      border: 5px solid rgb(143, 0, 0);
      padding: .5em;
      margin-bottom: 2em;
      margin-top: 1em;
      text-align: center;
      border-radius: 5em;
    }
    
  .shoe h2 {
      font-size: 4em;
      color: rgb(180, 0, 0);
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      margin: 0;
      padding: 0;
    }
    
  .shoe p {
      font-size: 2em;
      background-color: white;
      display: inline-block;
      padding: .5em;
      margin: 0;
      font-weight: bold;
      color: rgb(165, 0, 0);
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      border: .5em;
      border-radius: 5em;
    }
  
  .button-link {
      font-size: 2em;
      text-decoration: none;
      background-color: rgb(72, 255, 0);
      padding: .5em;
      font-weight: bold;
      display: inline-block;
      border: .5em;
      margin: 0;
      border-radius: 5em;
      }

    

footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: aqua;
  color: black;
  padding: 10px;
  text-align: center;
}
